.form-container {
    max-width: fit-content;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
}

body {
    background-image: url("/static/resources/lined-paper.png"); /* Background Image */
    font-family:"Pencil", sans-serif; /* Font 1*/
    font-family:"Pangolin"; /* Font 2*/
    background-color: beige;/* Accent Colours (temporary) */
    color: black; /* Font colour */
}

button, input, table, textarea {
    background: transparent;
    padding:0.5rem 0.5rem;
    margin:0 0.5rem;
    font-size:1rem;
    border: 2px solid black;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
}

button {
    transition: 0.3s;
}

button:hover {
    font-size: larger;
}