#loginForm {
    margin: auto;
    width: 50%;
    text-align: center;
}

input, button {
    font-family:"Pangolin";
    background: transparent;
    padding:0.5rem 0.5rem;
    margin:0 0.5rem;
    font-size:1rem;
    border-top-left-radius: 230px 20px;
    border-top-right-radius: 200px 20px;
    border-bottom-right-radius: 218px 30px;
    border-bottom-left-radius:15px 255px;
}