.dueToday {
    background-color: rgb(255, 140, 0, 0.5);
}

.dueTomorrow {
    background-color: rgb(255, 215, 0, 0.5);
}

.overDue {
    background-color: rgb(255, 0, 0, 0.5);
}

.sign-out {
    position: fixed;
    top: 10px;
    right: 10px;
}

.add-item { 
    /* Need to fix this button */
}

.delete-completed-item{
    /* Need to fix this button */
}

.listbutton {
    background-color: beige;
    transition: 0.3s;
}

.listbutton:hover {
    background-color: bisque;
    font-size: 30px;
}

.app-name {
    font-size: 100px;
    margin-bottom: 115px;
}

#user-list {
    font-size: 30px;
    text-align: center;
}

#currentList {
    margin: auto;
    width: 50%;
    position: relative;
}

#sidenavbar {
    margin: 0px;
    background-color: beige;
    width: 170px;
    height: 100vh;
    float: left;
    position: fixed;
}

body {
    background-image: url("/static/resources/lined-paper.png");
    font-family:"Pangolin";
    margin: 0px;
    padding: 0px;
    height: 200vh;
}

html{
    margin: 0px;
    padding: 0px;
}

h2 {
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
}

li {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

menu, ul {
    padding: 0;
    margin: 0;
}

ul {
    padding: 20px;
    font-size: 20px;
    
}

a {
    color: black;
    text-decoration: none;
}

button, input {
    transition: 0.3s;
    font-family:"Pangolin" ;
}

input:hover, button:hover {
    font-size: larger;
}

table.lined.thick{
   border:solid 3px #41403E;
   background: transparent;
   padding:0.5rem 0.5rem;
   margin:0 0.5rem;
   font-size:1rem;
   border-top-left-radius: 200px 30px;
   border-top-right-radius: 25px 225px;
   border-bottom-right-radius: 225px 15px;
   border-bottom-left-radius:15px 255px;
}

button, input {
    background: transparent;
    padding:0.5rem 0.5rem;
    margin:0 0.5rem;
    font-size:1rem;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
}

#box1 {
    background: transparent;
    padding:0.5rem 0.5rem;
    margin:0 0.5rem;
    font-size:1rem;
    border-top-left-radius: 35px 255px;
    border-top-right-radius: 15px 180px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
}

#box2 {
    background: transparent;
    padding:0.5rem 0.5rem;
    margin:0 0.5rem;
    font-size:1rem;
    border-top-left-radius: 255px 18px;
    border-top-right-radius: 17px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:20px 255px;
}
#box3 {
    background: transparent;
    padding:0.5rem 0.5rem;
    margin:0 0.5rem;
    font-size:1rem;
    border-top-left-radius: 255px 19px;
    border-top-right-radius: 10px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
}

#box4 {
    background: transparent;
    padding:0.5rem 0.5rem;
    margin:0 0.5rem;
    font-size:1rem;
    border-top-left-radius: 230px 20px;
    border-top-right-radius: 200px 20px;
    border-bottom-right-radius: 218px 30px;
    border-bottom-left-radius:15px 255px;
}

#box5 {
    background: transparent;
    padding:0.5rem 0.5rem;
    margin:0 0.5rem;
    font-size:1rem;
    border-top-left-radius: 255px 20px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
}