<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item</title>
</head>
<body>
    <h2>Edit Item</h2>

    <form id="add-item-form" action="{{ url_for('reminders.edit_item', id=reminder.id) }}" method="post">
        <label for="item-name">Item Name:</label><br>
        <input type="text" id="item-name" name="item-name" value="{{reminder.title}}"><br>

        <label for="description">Description:</label><br>
        <textarea id="description" name="description">{{ reminder.description }}</textarea><br>

        <label for="deadline">Deadline:</label><br>
        <input type="datetime-local" id="deadline" name="deadline" value="{{ reminder.deadline.strftime('%Y-%m-%dT%H%M') }}"><br><br>
        
        <button type="submit">Update Item</button>
      </form>
</body>
</html>