<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <script src="/static/js/passwordHashing.js"></script>
    <video autoplay loop muted>
        <source src="/static/resources/wave.mp4" type="video/mp4">
    </video>
    <a href="{{ url_for('auth.signup') }}"><button>Sign-Up</button></a>
    <div id="loginForm">
        <h2>Log In</h2>

        <p style="background-color: red;">{{ ' '.join(get_flashed_messages()) }}</p>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" placeholder="Username" autocomplete="username off"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" placeholder="Password" autocomplete="current-password"><br><br>
        
        <form action="{{url_for('auth.login', next=request.args.get('next', None))}}" method="post" id="main-form">
            <input type="text" id="hiddenusername" name="username" hidden="true">
            <input type="text" id="hashpasswd" name="hashpasswd" hidden="true">
            <input type="checkbox" id="remember" name="remember" value="remember" checked>
            <label for="remember">Remember Me</label><br><br>
        </form>
        <input type="submit" onclick="startLogin()" value="Submit" id="submit">
    </div>
</body>
</html>