<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{list.name}} </title>

    <style>
        table, td{
            border: 1px solid black ;
        }
    </style>
    <link rel="stylesheet" href="/static/todolist.css">
</head>


<body>
    <div id="sidenavbar">
        <h2 id="user-list"> User Lists </h2>
                <menu>
                    {% for u_list in user.lists %}
                    <li class="listbutton"><a href="{{ url_for('lists.get_list', id=u_list.id) }}">{{ u_list.name }}</a></li>
                    {% endfor %}
                </menu>
    </div>
    <div id="currentList">
    
    <button class="sign-out" type="button"> Sign Out </button>

    <h2> {{list.name}} </h2>
    <table style="width: 50%">
        <tr>
                <th>Item: </th>
                <th>Description: </th>
                <th>Deadline: </th>
                <th>Due in: </th>
                <th>Actions:</th>
                
        </tr>

        {%for item in list.todos%} 
            <tr>
                <td>{{item.title}}</td>
                <td>{{item.description}}</td>
                <td>{{item.deadline.strftime("%d-%m-%Y %H:%M")}}</td>
                <td>{{item.due()}}</td>
                <td><form action="{% if not item.complete %}{{ url_for('reminders.mark_reminder_completed_route', id=item.id)}}{% else %}{{ url_for('reminders.mark_reminder_incomplete_route', id=item.id)}}{% endif %}" method="post">
                    <input type="submit" value="{% if not item.complete %} Complete {% else %} Undo-Complete {% endif %}">
                </form>
                    <a href="{{ url_for('reminders.edit_item', id=item.id)}}"><button type="button"> Edit </button></a>
                    <a href="{{ url_for('reminders.rm_todo', id=item.id)}}"><button type="button" onclick="alert('Item Removed')" > Remove </button></a></td>
            </tr>
        {%endfor%}
        <a href="{{ url_for('lists.add_reminder_to_list', id=list.id) }}"> <button class="add-item" type="button"> Add Item </button></a>
    </table>
    
    <button type="button"> Show Completed Tasks </button>
    </div>

    
    
</body>
</html>