<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do</title>
</head>

<!-- s -->

<body>

    <td><button type="button"> Add Item </button></td>

    <table style="width: 50%">
        <tr>
            <th> List Name </th>
        </tr>
        <th>
                <td>Item: <br></td>
                <td>Description: <br></td>
                <td>Deadline: <br></td>
                <td>Due in: <br></td>
                <td><button type="button"> Complete </button></td>
                <td><button type="button"> Edit </button></td>
                <td><button type="button"> Remove </button></td>
        </th>
        <tr>
            <td>
            <button type="button"> Show Completed Tasks </button>
            </td> 
        </tr>

    </table>
    
</body>
</html>